{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!

{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-I5wGozz06f8dtzjM8t5XivlIbYFzKj3gdjlYELxmr85s3UsC3W+59rM2WbVwTDAF" crossorigin="anonymous">

	<div class="row"></div>
	<center>
		<img style="width:600px;margin: 50px;align-items: center;justify-content: center;" src="{{ asset('images/homepicture.png') }}" alt="Description de l'image">
		<h1>Welcome to our website</h1>
		<i class="fa fa-external-link-square" aria-hidden="true"></i>
	</center>

{% endblock %}

{% block pic %}{% endblock %}
