{% extends 'base.html.twig' %}

{% block title %}New Detailfacture
{% endblock %}

{% block body %}
	<br>
	<div class="col-sm-5 badge bg-primary">
		<h3>Ajouter Article au Facture</h3>
	</div>
	{{ include('detailfacture/_form.html.twig') }}


{% endblock %}

