{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<center>
			<img id="Photo" style="width:520px" src="{{ asset('images/login/error403.png') }}"/>
			<a href="{{ path('app_home') }}" class="btn btn-primary">home</a>
		</center>
	</div>
</div>{% endblock %}
