{% extends 'base.html.twig' %}
{% block body %}
	<div class="container">
		<br>
		<br>
		<center>
			<img id="Photo" style="width:520px" src="{{ asset('images/login/error404.png') }}"/>

		</center>
		<center>
			<a href="{{ path('app_home') }}">home</a>
		</center>
	</div>
</div>{% endblock %}
